body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.nav-right {
    background-color: rgb(6, 177, 134);
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.nav-left {
    display: flex;
    gap: 1px;
}
.nav-left a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-left a:hover {
    /* background-color: rgb(70, 70, 70); */
    border-radius: 5px;
    text-decoration: none;
}
.nav-left a:visited {
    color: white;
    background-color: rgb(70, 70, 70);
    text-decoration:none;

}
.secondary-nav {
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px;
}
.secondary-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.secondary-nav ul li {
    display: inline;
    margin: 0 15px;
}

.secondary-nav ul li a {
    text-decoration: none;
    color: rgb(6, 177, 134);
    padding: 5px 10px;
}
.secondary-nav ul li a:hover {
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
}
form {
    display: flex;
    flex-direction: column;
}
select {
    padding: 9px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
